    body{
      --content-width: 1024px;
    }
    * {
      box-sizing: border-box;
    }
    html{
      scroll-behavior: smooth;
    }
    header {
      margin: auto;
      max-width: var(--content-width);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .icon {
      width: 3%;
      height: auto;
    }

    .drop, .ship {
      list-style: none;
      padding: 0;
      display: flex;
    }

    .drop, .ship, .line {
      display: inline-block;
      margin-right: 1rem;
      gap: 1rem;
    }

    .line a {
      text-decoration: none;
      color: black;
      font-weight: 700;
      padding: 10px;
      white-space: nowrap;
      border-radius: 5px;
    }

    .line a:hover {
      background-color: rgb(241, 145, 20);
      color: #f9f9f9;
    }

    .buylb {
     
      background-color: rgb(82, 156, 203);
      color: azure;
      width: 100%;
      height: auto;
      padding-top: 25px;
      padding-bottom: 15px;
    }
    .buylb > div{

      max-width: max-content;
      margin: 0 auto;
      text-align: center;
      
    }
    .custom_input{
      display: flex;
      flex-direction: row;
      align-items: center;
      background: white;
      border: solid 1px silver;
      padding-left: 8px;
    }
    .custom_input input{
      background: transparent;
      border: none;
     outline: none;
    }
    .custom_input img{
      width: 14px;
    }
    h1 {
      font-weight: bold;
      margin-bottom: 5px;
    }

    h4 {
      margin-top: 5px;
    }

    label {
      display: inline-block;
    }

    .request {
      background-color: rgb(255, 123, 0);
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;
      color: #f9f9f9;
    }

    input {
      display: inline-block;
      padding: 8px;
      border: 1px solid #ffffff;
      gap: 5px;
    }

    form {
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;
      gap: 10px;
    }
    .request {
      width: 100%;
      padding: 10px;
      background-color: #ff9500;
      color: #ffffff;
      border: none;
      display: inline-block;
    }

    .request:hover {
      background-color: #05b0ff;
    }

    .request:focus {
      box-shadow: 0 0 5px rgb(7, 230, 234);
    }
    h2,
    h5 {
      display: block;
      text-align: center;
    }
    h2{
      margin-bottom: 1px;
    }
  h5{
    margin-top: 5px;
    margin-bottom: 50px;
  }
    .Service1 {
      display: block;
      flex-grow: 1;
      text-align: start;
    }
    .card {
      display: flex;
    }
    .card img{
      width: 70px;
      padding: 16px;
      padding-left: 25px;

    }
    
    .Service2{
      display: block;
      text-align: start;
      margin: 0 auto ;
      flex-grow: 1;
    }
    .card{
      display: flex;
    }
    .services{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-top: 25px;
      gap: 40px;
    }
    .container{
      max-width: var(--content-width);
      margin: 0 auto;
    }
     p{
      margin-bottom: 30px;
      margin-top: 5px;
    }
    h4{
      margin-top: 15px;
      margin-bottom: 5px;
    }
    .desktop{
      width: 600px;
      height: auto;
      padding-right: 60px;
    }
    .aboutus{
      text-align: left;
      background-color: #ff9500;
text-transform: capitalize;
margin-top: 20px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;

    }
    .info{
      padding-top: 75px;
      padding-left: 50px;
      padding-right: 250px;
      color: #ffffff;
    }
    .industry{
      text-align: left;
    }
 .read_more{
  width: 180px;
      padding: 10px;
     background-color: #ff9807;
      color: #ffffff;
      border: 2px solid rgb(185, 117, 44);
 }
 .read_more:hover{
 border: 2px solid aqua;
 border-radius: 5px;
 }
 .industry{
  padding-bottom: 25px;
 }
 .how_it_works{
  margin-bottom: 50px;
 
 }
 .steps{
  display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-right: 100px;
      margin-left: 100px;
 }
 .qwerty{
  display: flex;
  flex-direction: column;
  
 }
 .headphones{
  width: 50px;
  margin-left: 150px;
  margin-bottom: 70px;
  margin-top: 35px;
 }
 .photo{
  width: 50px;
  margin-left: 150px;
  margin-bottom: 70px;
  margin-top: 35px;
 }
 .lorem{
 text-align: center;
  margin-left: 50px;
 }
 h3{
  margin-left: 150px;
 }
 .get_start_now{
  width: 180px;
      padding: 10px;
     background-color: #ff9807;
      color: #ffffff;
      border: 2px solid rgb(185, 117, 44);
      margin-left: 650px;
      margin-top: 35px;
 }
 .happy_clients{
  background-color: orange;
 }
 .banner{
  color: #f9f9f9;
  padding-top: 45px;
 }
 .subhead{
  color: #f9f9f9;
  font-weight: 100;
 }
 .components{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 150px;
 }
 .figure{
  width: 150px;
  float: left;
 }
.piece{
  border: 2px solid rgb(237, 234, 234);
  background-color: #f9f9f9;
  flex-basis: 38%;
  /*display: flex;*/
  margin-left: 35px;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 20px;
  transition:  box-shadow .2s linear, filter 0.3s;
  filter: grayscale(100%);
}
.author{
  color: #ff9500;
}
.author{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 15px;
}
.occupation{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.bite{
  border: 2px solid rgb(237, 234, 234);
  background-color: #f9f9f9;
  flex-basis: 38%;
 /* display: flex;*/
  margin-left: 35px;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 20px;
 margin-top: 35px;
 margin-bottom: 40px;
 transition: box-shadow .2s linear, scale .4s ease-in;

}
.content{
  padding-bottom: 5px;
   padding-left: 150px;
   padding-right: 17px;
   padding-top: 15px;
   
}
.piece:hover{
  box-shadow:0 0 7px rgb(1, 213, 251);
 filter: none;
}
.bite:hover{
  box-shadow:0 0 7px rgb(234, 7, 117);
  scale: 1.2;
}
.sailing{
  margin-left: 350px;
  margin-top: 35px;
}
.handset{
  width: 25px;
  display: flex;
  margin-left: 600px;
}
.phone{
  text-align: center;
  font-weight: 100;
  margin-bottom: 55px;
}
.phone:hover{
  text-decoration: underline;
  color: #05b0ff;
}  
.development{
  display: none;
}
@media screen and (max-width: 320px) {
  body{
    background-color: aquamarine;
  }
  .development{
 display: block;
  }
  h1, h2, div, section, img, nav, header, h4{
    display: none;
  }
 }